#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1 .mbr-brand__name a {
  font-size: 18px;
}
#header1-2 H1 {
  color: #28324e;
}
#header1-2 P {
  text-align: left;
  color: #28324e;
}
#msg-box3-h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-h .mbr-article P {
  color: #28324e;
}
#header3-o H3 {
  text-align: center;
}
#msg-box2-d .mbr-header .mbr-header__text {
  color: #ffffff;
  text-align: right;
}
#msg-box2-d .mbr-article {
  color: #252525;
}
#features1-e .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-e P {
  color: #efefef;
}
#content5-v .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
}
#content5-v .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-v .mbr-article {
  color: #fff;
}
#content5-v .mbr-article P {
  color: #252525;
  text-align: left;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 25px;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#form1-a .mbr-header__text {
  font-size: 20px;
}
#footer1-r P {
  text-align: center;
}
#msg-box4-11 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-11 .mbr-article {
  color: #ffffff;
}
#msg-box2-17 .mbr-header .mbr-header__text {
  color: #252525;
  text-align: right;
}
#msg-box2-17 .mbr-article {
  color: #252525;
}
#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-i .mbr-brand__name a {
  font-size: 18px;
}
#pricing-table1-k SPAN {
  font-size: 60px;
}
#pricing-table1-k FONT {
  color: #efefef;
}
#footer1-r P {
  text-align: center;
}
